.contact-box-container{
    box-sizing: border-box; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3rem auto;
    width: 90%;
}

.contact-box{
    border: 1px solid black;
    width: 45%;
}

.contact-box h3{
    padding: 1rem;
    font-size: 1.1rem;
    text-align: center;
}

.left-col{
    padding-left: 2rem;
    width: 40%;
}

.right-col{
    width: 55%;
}

.info-box{
    margin: 2rem 0rem 1rem 0rem;
}

.form-card{
    border: 1px solid black;
    padding: 1.5rem;
    max-height: 100%;
    width: 100%;
}

h2{
    font-size: 1.2rem;
}

.form-card h2{
    text-align: center;
    
}

.contact-form{
     display: flex;
     flex-direction: column;
}

.form-input{
    padding: .5rem;
    margin-bottom: 1rem;
    width: 100%;
}


.form-input[type="textarea"]{
    height: 7rem;
}

.form-button{
    border: none;
    background-color: rgb(84,174,206);
    color: white;
    font-weight: 600;
    letter-spacing: .1rem;
    padding: .8rem;
    text-transform: uppercase;
}

/* Mobile styling */
@media only screen and (max-width: 480px){
    .left-col{
        margin: 3rem auto 2rem auto;
        padding-left: 0rem;
        width: 95%;
    }
    
    .right-col{
        width: 95%;
    }

}