.footer{
    height: 8vh;
    padding: 1rem 1rem 5px 1rem;
    width: 100%;
}

.copyright-container{
    font-size: .8rem;
    color: black;
    font-weight: bold;
}

/* Mobile styling */
@media only screen and (max-width: 480px){
    .footer{
        height: 5%;
    }
}