.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*background: rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 1rem black; */ 
    padding: 1em 2em .2em 2em;
    color: black;
    height: 15vh;
}

.page-header-no-bg{
    background: rgba(51, 51, 51, 0.6);
    box-shadow: 0 0 1rem black;
}


.page-header-no-bg .header-contact{
    color: white;
}


.page-header-no-bg .nav-logo, .page-header-no-bg .nav-logo:visited{
    color: white;
}


/* Style for smaller laptop/desktop screens */
@media all and (max-width: 1098px){
    .page-header{
        flex-direction: column;
        height: 15%;
        padding: 2% 2rem 0.5rem 2rem;
    }
}