.home-content{
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    height: 60%;
    width: 50%;
}

.home-content p{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}

.button{
    background-color: transparent;
    border: 1px solid black;
    padding: 1rem 3rem;
}


.button-text{
    color: black;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.button-text:visted{
    color: black;
}