.layout-container{
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.layout-bg{
  background-image: linear-gradient(rgb(105,214,251, 0.85), rgb(105,214,251, 0.85)),
  url("../images/hero-2.jpg");
  background-size: cover;

    /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.layout-no-bg{
  background-color: aliceblue;
}

.main-content{
    height: 75vh;
}

/* Style for smaller laptop/desktop screens */
@media all and (max-width: 1098px){
    .main-content{
      height: 100%;
    }
}

