.layout-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgb(105,214,251, 0.7), rgb(105,214,251, 0.7)),
    url("../images/hero.jpg");
}

.main-content{
    height: 88vh;
}