.layout-container{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba(51, 51, 51, 0.8);
    box-shadow: 0 0 1rem black;
    padding: .2rem 2rem .2rem 2rem;
}

.nav-logo{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 2rem;
}

.nav-logo:visited{
    color: white;
}

.heading{
    color: rebeccapurple;
}

.nav-links{
    display: flex;
    list-style: none;
    padding-left: 0;
}