.nav-link-item{
    margin: 0rem 0rem 0rem .5rem;
}

.nav-link-text{
    color: white;
    padding: 1rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-link-text:hover{
    background: rgba(51, 51, 51, 1);
}

.nav-link-text:visted{
    color: white;
}