.app{
    min-height: 3000px;
    width: 100%;
}

.hero-img{
    background-image: linear-gradient(
        rgb(105,214,251, 0.7), rgb(105,214,251, 0.7)),
         url("../images/hero.jpg");
    background-size: cover;
    background-color:aliceblue;
    position: relative;
}